.footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 1024px;
  height: 75px;
  padding-left: 15px;
  padding-top: 25px;
  border-top: 5px solid darkmagenta;
  background-color: white;
  opacity: 1;
}

.footer__text {
  margin-top: 0;
  margin-bottom: 0;
}
