.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 2000px;
  min-width: 320px;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;

  &_dark {
    background-color: #161b22;
    border-bottom: 1px solid #30363d;
    color: #c9d1d9;
  }

  &__container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    height: 60px;
    padding: 0 15px;
  }
}
