.button {
  --background-color-main: #bfbfbf;
  --text-color-main: #000000;

  box-sizing: border-box;
  width: 70px;
  height: 25px;
  background-color: var(--background-color-main);
  text-decoration: none;
  color: var(--text-color-main);
  line-height: 25px;
  text-align: center;
}

.button:hover {
  opacity: 0.7;
}
