.theme {
  display: flex;
  align-items: center;
}

.theme_dark {
  color: white;
}

.theme__label {
  margin-right: 8px;
  font-size: 24px;
}

.theme__input {
  transform: scale(1.7);
  margin-right: 7px;
}
