.app {
  position: relative;
  width: 900px;
  margin: 0 auto;
  min-height: 100vh;
}

.app__header,
.app__footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  padding-left: 20px;
  color: white;
  background-color: #30363d;
  border-radius: 5px;
}

.app__header {
  font-size: 32px;
}

.app__footer {
  position: absolute;
  bottom: 0;
  font-size: 16px;
}

.app__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.app__textarea {
  width: 100%;
  margin-bottom: 30px;
  font-size: 18px;
  border-radius: 5px;
  resize: none;
}

.app__submit {
  width: 250px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #30363d;
}

.app__submit:hover {
  opacity: 0.8;
}