.category {
  --background-color-main: #F5F5F5;
  --desktop-padding: 15px;
  --link-color-main: #1E90FF;
  --link-color-hover: #3371FF;
  --category-color-main: #696969;

  padding: var(--desktop-padding);
  background-color: var(--background-color-main);
}
