.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 2000px;
  min-width: 320px;
  height: 100%;

  .container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    min-height: 100%;
    padding: 15px 15px 55px 15px;
  }
}
