.header {
  --text-color-light: #ffffff;
  --design-color-main: #228B22;
  --desktop-width: 1200px;
  --desktop-padding: 15px;
  --desktop-min-width: 520px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: var(--desktop-min-width);
  max-width: var(--desktop-width);
  width: 100%;
  height: 65px;
  padding-left: var(--desktop-padding);
  padding-right: var(--desktop-padding);
  background-color: var(--design-color-main);
}

