.helper {
  position: relative;
  height: 100%;

  @keyframes slide {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__text {
    position: absolute;
    top: -20px;
    left: calc(50% - 100px);
    width: 200px;
    font-size: 12px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    animation-name: slide;
    animation-duration: 1s;
  }
}

