.main {
  --desktop-spacing: 15px;
  --desktop-sidebar-width: 240px;
  --background-color-dark: #000000;

  display: grid;
  grid-template-columns: var(--desktop-sidebar-width) 1fr;
}

@media (max-width: 520px) {
  .main {
    display: block;
  }
}
