.footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 2000px;
  min-width: 320px;
  height: 60px;
  background-color: #ffffff;
  border-top: 1px solid #cccccc;

  &_dark {
    background-color: #161b22;
    border-top: 1px solid #30363d;
    color: #c9d1d9;
  }

  &__container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    height: 60px;
    padding: 0 15px;
  }

  &__copyright {
    font-size: 14px;
    @media (max-width: 769px) {
      font-size: 8px;
    }
  }
}
