@keyframes shake {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.helper {
  position: relative;
  height: 100%;

  &__text {
    position: absolute;
    top: -25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    animation-name: shake;
    animation-duration: 1s;
  }
}
