.paginator {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    width: 33px;
    height: 42px;
    margin-right: 4px;
    font-size: 28px;
    background-color: white;
    border-radius: 5px;
  }

  &_dark .paginator__link {
    color: white;
    background-color: #0d1117;
    border: 1px solid white;
  }

  &_dark .paginator__link_current {
    color: white;
    background-color: #6c7c93;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 42px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;

    &:hover {
      background-color: #e6f2ff;
    }

    &:active {
      color: white;
      background-color: #b3d9ff;
    }

    &_current {
      color: white;
      background-color: #b3d9ff;
    }
  }
}
