.paginator {
  position: absolute;
  bottom: 15px;
  right: 15px;

  &_modal {
    position: static;
  }

  &_dark {
    & .ant-pagination-simple-pager input {
      background-color: #0d1117;
      color: #c9d1d9;
    }

    & .ant-pagination-slash,
    & .ant-pagination-simple-pager {
      color: #c9d1d9;
    }

    & .anticon svg {
      fill: #c9d1d9;
    }
  }
}

