:root {
  --text-color-main: #000000;
  --text-color-light: #ffffff;
  --background-color-main: #ffffff;
  --design-color-main: #228B22;
  --desktop-width: 1200px;
  --desktop-padding: 15px;
  --desktop-min-width: 520px;
  --desktop-content-width: 1150px;
  --desktop-content-min-width: 480px;
}
