$background-design-color: #F5F5F5;
$background-design-color-dark: #CECECE;
$text-design-color: #404040;
$border-design-color: #404040;
$button-color: #277A8D;
$button-color-hover: #319AB2;
$button-color-active: #236F81;
