:root[data-theme="blue"] {
  --main-color: #1E90FF;
  --main-color-hover: #80bfff;
  --main-color-active: #b3d9ff;
  --additional-color: #0d1117;
  --button-color: #ffffff;
  --button-green-color: #009900;
  --button-dark-color: #000000;
  --button-blue-color: #1E90FF;
  --input-background-color: #f7f8ff;
  --table-background-color: #e6f7ff;
}
