.login {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  padding: 15px;
  margin-top: 50px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #cccccc;

  &__title {
    text-align: center;
  }

  &__form {
    width: 500px;
    height: 170px;

    @media (max-width: 555px) {
      width: 100%;
    }
  }

  &__form-item,
  &__button,
  &__submit,
  &__input {
    width: 500px;
    min-width: 260px;

    @media (max-width: 555px) {
      width: 100%;
    }
  }

  &__form-item_add {
    margin: 0;
  }

  &__button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: #000000;
      opacity: 0.7;
    }
  }

  &__input {
    border-radius: 5px;
  }

  &__link {
    text-align: center;
    color: #808080;
  }
}
