.footer {
  display: flex;
  align-items: center;
  height: 75px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $background-design-color;
  border: 1px solid $border-design-color;
}
