.table {
  box-sizing: border-box;
  width: 800px;
  margin: 0 auto;
  border: 1px solid var(--additional-color);
  background-color: var(--table-background-color);
  font-size: 20px;

  &__cell {
    padding: 10px;
    border: 1px solid var(--additional-color);

    &_tel {
      display: flex;
      justify-content: space-between;
    }
  }

  &__trash {
    box-sizing: border-box;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBkPSJNIDEwIDIgTCA5IDMgTCA1IDMgQyA0LjQgMyA0IDMuNCA0IDQgQyA0IDQuNiA0LjQgNSA1IDUgTCA3IDUgTCAxNyA1IEwgMTkgNSBDIDE5LjYgNSAyMCA0LjYgMjAgNCBDIDIwIDMuNCAxOS42IDMgMTkgMyBMIDE1IDMgTCAxNCAyIEwgMTAgMiB6IE0gNSA3IEwgNSAyMCBDIDUgMjEuMSA1LjkgMjIgNyAyMiBMIDE3IDIyIEMgMTguMSAyMiAxOSAyMS4xIDE5IDIwIEwgMTkgNyBMIDUgNyB6IE0gOSA5IEMgOS42IDkgMTAgOS40IDEwIDEwIEwgMTAgMTkgQyAxMCAxOS42IDkuNiAyMCA5IDIwIEMgOC40IDIwIDggMTkuNiA4IDE5IEwgOCAxMCBDIDggOS40IDguNCA5IDkgOSB6IE0gMTUgOSBDIDE1LjYgOSAxNiA5LjQgMTYgMTAgTCAxNiAxOSBDIDE2IDE5LjYgMTUuNiAyMCAxNSAyMCBDIDE0LjQgMjAgMTQgMTkuNiAxNCAxOSBMIDE0IDEwIEMgMTQgOS40IDE0LjQgOSAxNSA5IHoiPjwvcGF0aD48L3N2Zz4=') 50% 50% no-repeat;
    background-size: 100%;
    border: 1px solid var(--additional-color);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      border: 2px solid var(--additional-color);
    }

    &:active {
      border: 3px solid var(--additional-color);
    }
  }

}
