.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding-left: 10px;
}

.header_dark {
  color: white;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 52px;
}
