.footer {
  --desktop-width: 1200px;
  --desktop-padding: 15px;
  --desktop-min-width: 900px;
  --background-color-main: #F5F5F5;
  --color-main: #696969;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: var(--desktop-min-width);
  max-width: var(--desktop-width);
  height: 60px;
  padding: var(--desktop-padding);
  font-size: 18px;
  color: var(--color-main);
  background-color: var(--background-color-main);
}
